<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<%= htmlWebpackPlugin.options.bodyHTML %>

<script>
    var _ota=window._ota=window._ota||{};_ota.t="ota.ght1pc9kc.fr";
    (function(){
        var t=document,e=t.createElement("script"),a=t.getElementsByTagName("script")[0];
        e.async=!0;e.src="/otela.js";a.parentNode.insertBefore(e,a)
    })();
</script>

</body>

</html>
