---

receivers:
  otlp:
    protocols:
      http:
        endpoint: ':4318'
        cors:
          allowed_origins:
            - http://*
            - https://*
          max_age: 7200

exporters:
  logging:
    verbosity: detailed
    sampling_initial: 5
    sampling_thereafter: 200
  prometheus:
    endpoint: ':9091'
    send_timestamps: true
    enable_open_metrics: true

connectors:
  spanmetrics:
    namespace: otela
    histogram:
      explicit:
        buckets: [6ms, 10ms, 100ms, 250ms, 500ms]

    dimensions:
      - name: title
      - name: domain
      - name: path
      - name: navigator
      - name: os
      - name: platform

processors:
  batch:
#  attributes/metrics:
#    actions:
#      - key: span.kind
#        action: delete
#      - key: redacted_span
#        value: true
#        action: upsert
#      - key: copy_key
#        from_attribute: key_original
#        action: update
#      - key: account_id
#        value: 2245
#        action: insert
#      - key: account_password
#        action: delete
#      - key: account_email
#        action: hash
#      - key: http.status_code
#        action: convert
#        converted_type: int

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [logging, spanmetrics]
    metrics:
      receivers: [spanmetrics]
      exporters: [prometheus]
      processors: [batch]
